<div class="container">
  <app-algo-selector
    [logFilter]="logFilter$ | async"
    (logFilterChange)="applyLogFilter($event)"
  ></app-algo-selector>
  <mat-card style="height: 70vh;">
    <mat-tab-group backgroundColor="primary">
      <mat-tab color="primary" label="Chart"
        ><div class="tab-content" (resized)="onResized($event)">
          <ng-container *ngIf="chartPoints$ | async; let chartPoints">
            <app-line-chart
              *ngIf="dimensions && chartPoints"
              [dimensions]="dimensions"
              [chartPoints]="chartPoints"
            ></app-line-chart>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Second">
        <div class="tab-content">Content 2</div></mat-tab
      >
      <mat-tab label="Third"><div class="tab-content">Content 3</div></mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
