.container {
  display: flex;
  height: calc(100% - 148px);
  position: relative;
}

.tab-content {
  height: calc(100% - 20px);
}

.content-card {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: calc(100% - 40px);
}
