table {
  table-layout: fixed;
  width: 100%;
}
.mat-column-name {
  text-align: left;
}
.mat-column-pnl,
.mat-column-daysHeld,
.mat-column-ar,
.mat-column-cagr,
.mat-column-std,
.mat-column-vol,
.mat-column-mr,
.mat-column-sharpe {
  text-align: right;
  width: 8%;
}
.mat-column-exp {
  text-align: right;
  width: 12%;
}

:host ::ng-deep .mat-sort-header-container {
  button {
    text-align: inherit;
  }
}
