.container {
  display: flex;
  height: 70vh;
  width: 15vw;
  flex-direction: column;
  margin-left: 20px;
}

.alias,
.algo,
.symbol {
  // margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.alias {
  padding: 8px;
  padding-left: 10px;
}

.algo {
  padding-left: 20px;
  margin-left: -10px;
  background-color: #fafafa;
}

.symbol {
  padding-left: 20px;
  margin-left: -10px;
  background-color: #f5f5f5;
}

.count {
  opacity: 0.4;
}

::ng-deep label {
  display: flex;
}

::ng-deep .mat-checkbox-label {
  display: flex;
  justify-content: space-between;
}

.expansion-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
