<!--  -->
<div class="container" [@.disabled]="isDisabled">
  <div
    *ngFor="let alias of nodes"
    class="alias mat-elevation-z2"
    (click)="toggleExpand($event, alias)"
  >
    <div class="expansion-box">
      <mat-checkbox
        [checked]="alias.enabled"
        (change)="handleChange($event, alias)"
        >{{ alias.name }} </mat-checkbox
      ><span class="count"
        >({{ (alias.children && alias.children.length) || 0 }})</span
      >
    </div>
    <ng-container *ngIf="alias.expanded">
      <div
        *ngFor="let algo of alias.children"
        class="algo"
        (click)="toggleExpand($event, algo)"
        [@fold]
      >
        <div class="expansion-box">
          <mat-checkbox
            [disabled]="!alias.enabled"
            [checked]="algo.enabled"
            (change)="handleChange($event, algo)"
            >{{ algo.name }} </mat-checkbox
          ><span class="count"
            >({{ (algo.children && algo.children.length) || 0 }})</span
          >
        </div>
        <ng-container *ngIf="algo.expanded">
          <div
            *ngFor="let symbol of algo.children"
            class="symbol"
            (click)="$event.stopPropagation()"
            [@fold]
          >
            <mat-checkbox
              [disabled]="!algo.enabled"
              [checked]="symbol.enabled"
              (change)="handleChange($event, symbol)"
              (click)="$event.stopPropagation()"
            >
              {{ symbol.name }}</mat-checkbox
            >
          </div></ng-container
        >
      </div></ng-container
    >
  </div>
</div>
